body {
    /*background-image: url();
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #e7717d;

}

main {
  margin-top: 0;
}

.profile {
    border-radius: 50px;
}

.heading {
    color:  rgb(177, 177, 177);
    text-shadow: 1px 1px 10px #f78181;
    margin: 0%;
    border-radius: 0%;
}

.color1 {
    background-color: #85dcb8;
    padding-top: 20px;
    padding: 20px;
    border-radius: 100px;
}

h1, h2, h3 {
    text-align: center;
    text-shadow: 1px 1px 10px #f78181;
}

div {
    font-family: sans-serif;
    color:  rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.assif {
    font-family: cursive;
    text-shadow: 5px 5px 10px #f78181;
}

.activities {
    align-items: center;
}

.OAct {
    align-items: center;
}

.social {
    text-align: center;
}

.check {
    text-align: center;
    background-color: #85dcb8;
    padding: 20px;
    border-radius: 100px;
}

.resume {
    background-color: rgb(246, 173, 241);
    border-radius: 10px;
    width: 100px;
    height: 35px;
    margin-bottom: 5px;
    
}

a {
    color: rgba(38, 255, 0, 0.475);
    text-decoration: none;
    font-weight: bold;
  }
  
  a:visited {
    color: rgb(13, 13, 13);
  }
  
  a:hover {
    color: rgb(127, 127, 127);
  }
  
  a:active {
    color: rgb(249, 246, 246);
  }
