body {
    background-image: url(./images/139745-electronics-light-stage-design-technology-4096x2725.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6d2828c1;
    padding-bottom: 70px;
    padding-top: 20px;
}

a {
    text-decoration: none;
    list-style-type: none;
}

.navigator {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    border: 5px;
    padding-left: 5px;
    margin: 2px;
}

.nav {
    flex-wrap: nowrap;
    margin: 0;
    padding-left: 1rem;
    display: flex;
    gap: 3rem;
}

main {
  margin-top: 0;
  
}

.profile {
    border-radius: 50px;
}

.heading {
    color:  rgb(177, 177, 177);
    text-shadow: 1px 1px 10px #feb5b5;
    margin: 0%;
    border-radius: 0%;
}

.color1 {
    padding: 20px 50px 50px 50px;
    border-radius: 100px;
}

h1, h2, h3 {
    text-align: center;
    text-shadow: 1px 1px 10px #f78181;
}

div {
    font-family: sans-serif;
    color:  rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.assif {
    font-family: cursive;
    text-shadow: 5px 5px 10px #f78181;
}

.activities {
    align-items: center;
}

.OAct {
    align-items: center;
}

.social {
    text-align: center;
}

.check {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 10px #feb5b5;
    padding: 20px;
    border-radius: 75px;
}

.resume {
    background-color: rgb(246, 173, 241);
    border-radius: 10px;
    width: 100px;
    height: 35px;
    margin-bottom: 5px;
    
}

a.read {
    color: #6d2828c1;
    text-decoration: none;
    font-weight: bold;
  }
  
  a.read:hover {
    color:rgba(248, 5, 5, 0.988);
  }
  
  a.read:active {
    color: rgb(249, 246, 246);
  }
